@font-face {
    font-family: 'Mohr';
    src: url('../fonts/Mohr-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Mohr';
    src: url('../fonts/Mohr-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Mohr';
    src: url('../fonts/Mohr-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Mohr';
    src: url('../fonts/Mohr-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Mohr';
    src: url('../fonts/Mohr-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
} 
